.versions_wrapper{
    padding : 0.7em;
    /* text-align: center; */
}

.version_list_item_wrapper{
    border-bottom: dotted thin black;
    margin-bottom: 5px;
    list-style-type: none;
}
.version_list_item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    object-fit: scale-down;
    font-size: 1em;
    /* background-color: red; */
}

.version_list_item > span:nth-child(1){
    width : 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
}

.version_list_item > span:nth-child(2){
    width : 40%;
    font-size: 1em;
}

.version_list_item > span:nth-child(3){
    width : 40%;
    font-size: 1em;
}

.version_list_item > button{
    display: flex;
    justify-content: center;
    align-items: center;
    border : none;
    width : 7%;
    min-width: 10px;
    font-size: 1em;
    /* background-color: white; */
}

.version_list_item > button:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    border : none;
    width : 7%;
    min-width: 10px;
    font-size: 1em;

    color: rgb(190, 169, 169);
}

.version_list_content{
    text-align: right;
    margin-top: -10px;
    font-size: 0.92em;
    /* background-color: red; */
    margin-bottom: -10px;
}

.editing_document{
    animation: breathe 1s ease 50ms infinite forwards ;
}

@keyframes breathe {
    0% {font-size: 0.9em;}
  25% {font-size: 1.1em;}
  50% {font-size: 1.2em;}
  75% {font-size: 1.1em;}
  100% {font-size: 0.9em;}
}